*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tekst{
    color:red;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-style: dotted;
}

body{
    background-image: url(../images/pfunk.png);
    background-repeat: repeat-x;
    background-position-y: 50%;
    background-attachment: fixed;
}

.green-Move{
    color:green;
    transform: translate(15px, 25px);
}